
  <li>
      {{#link-to 'restaurant' restaurant.id}}{{restaurant.name}}'s {{restaurant.type}} in {{restaurant.city}} {{/link-to}}
      <!-- {{update-restaurant restaurant=restaurant update="update"}} -->
      <!-- <button {{action 'delete' restaurant}}>Delete Restaurant</button> -->
   </li>
